@model List<GorevListAllViewModel>

@{
    ViewData["Title"] = "Görevler";
    Layout = "~/Areas/Member/Views/Shared/_Layout.cshtml";

    int index = 0;
    string cardHeader = "card-primary";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Görevlerim</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a asp-area="Member" asp-action="Index" asp-controller="Home">
                            <i class="fas fa-home"></i>
                            Anasayfa
                        </a>
                    </li>
                    <li class="breadcrumb-item active">Görevler</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div id="accordion">

        @foreach (var item in Model)
        {
            if (item.Aciliyet.Id == 1)
            {
                cardHeader = "card-danger";
            }

            index++;

            <div class="card @cardHeader">
                <div class="card-header">
                    <h4 class="card-title w-100">
                        <a class="d-block w-100 collapsed" data-toggle="collapse" href="#collapseOne-@index" aria-expanded="false">
                            <i class="fas fa-clipboard-list mr-1"></i>
                            @item.Ad - Görevi
                        </a>
                    </h4>
                </div>
                <div id="collapseOne-@index" class="collapse" data-parent="#accordion" style="">
                    <div class="card-body">
                        <div class="callout callout-info">
                            <strong class="text-danger"><i class="fas fa-clipboard-list mr-1"></i>Aciliyet Durumu : </strong>
                            @item.Aciliyet.Tanim
                            <hr />
                            <strong class="text-danger"><i class="fas fa-file-alt mr-1"></i>Görev Açıklama : </strong>
                            @item.Aciklama
                            <hr />
                            <strong class="text-danger"><i class="fas fa-map-marker-alt mr-1"></i>Rapor Sayısı : </strong>
                            @item.Raporlar.Count
                        </div>
                    </div>
                    <div class="card-footer">
                        @if (@item.Raporlar.Count > 0)
                        {
                            <button class="btn btn-primary btn-flat" type="button" data-toggle="collapse" data-target="#collapseExample-@index" aria-expanded="false" aria-controls="collapseExample">
                                <i class="far fa-file-alt"></i>
                                Raporlar
                            </button>
                        }
                        else
                        {
                            <a asp-area="Member" asp-action="RaporYaz" asp-controller="IsEmri" asp-route-id="@item.Id" class="btn btn-primary btn-flat">
                                <i class="fas fa-file-signature"></i>
                                Rapor Yaz
                            </a>
                        }
                        <a class="btn btn-success btn-flat" data-toggle="modal" data-target="#modal-gorev-tamamla" data-gorev-id="@item.Id">
                            <i class="fas fa-clipboard-check"></i>
                            Tamamlandı Olarak İşaretle
                        </a>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="collapse" id="collapseExample-@index">
                                <div class="card card-body">
                                    <p>
                                        <a asp-area="Member" asp-action="RaporYaz" asp-controller="IsEmri" asp-route-id="@item.Id" class="btn btn-primary btn-flat">
                                            <i class="fas fa-plus"></i>
                                            Rapor Ekle
                                        </a>
                                    </p>

                                    <div class="card-body table-responsive p-0">
                                        <table class="table table-striped table-bordered table-hover table-sm table-head-fixed text-nowrap">
                                            <thead>
                                                <tr>
                                                    <th>Tanım</th>
                                                    <th>Detay</th>
                                                    <th class="col-1 text-center">İşlem</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var itemRapor in item.Raporlar)
                                                {
                                                    <tr>
                                                        <td>@itemRapor.Tanim</td>
                                                        <td>@itemRapor.Detay</td>
                                                        <td class="text-center">
                                                            <a asp-area="Member" asp-action="RaporDuzenle" asp-controller="IsEmri" asp-route-id="@itemRapor.Id" class="btn btn-warning btn-sm btn-flat">
                                                                <i class="fas fa-edit"></i>
                                                                Düzenle
                                                            </a>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>

<div class="modal fade" id="modal-gorev-tamamla" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Bilgi</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Görevi tamamlandı olarak işaretlemek istediğinize emin misiniz?</p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-dark btn-flat" data-dismiss="modal">
                    <i class="fas fa-undo"></i>
                    Listeye Geri Dön
                </button>
                <button type="button" id="btn-gorev-tamamla" class="btn btn-success btn-flat">
                    <i class="fas fa-clipboard-check"></i>
                    Tamamlandı
                </button>
            </div>
        </div>
    </div>
</div>

@section JqueryValidation{
<script src="~/lib/jquery-validation/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

<script>
    $(document).ready(function () {
        $('#modal-gorev-tamamla').on('show.bs.modal', function (event) {
            var tetikleyenElement = $(event.relatedTarget);
            var gorevId = tetikleyenElement.data("gorev-id");
            console.log(gorevId);
            $("#btn-gorev-tamamla").click(function () {
                console.log("giriş yapıldı.");
                $.ajax({
                    type: "Get",
                    contentType: "application/json",
                    url: "/Member/IsEmri/TamamlaGorev",
                    data: { gorevId: gorevId },
                    dataType: "Json",
                    success: function (data) {
                        window.location.reload();
                    },
                    error: function (xhr, exception) {
                        var msg = "";
                        if (xhr.status === 0) {
                            msg = "Not connect.\n Verify Network." + xhr.responseText;
                        } else if (xhr.status == 404) {
                            msg = "Requested page not found. [404]" + xhr.responseText;
                        } else if (xhr.status == 500) {
                            msg = "Internal Server Error [500]." + xhr.responseText;
                        } else if (exception === "parsererror") {
                            msg = "Requested JSON parse failed.";
                        } else if (exception === "timeout") {
                            msg = "Time out error." + xhr.responseText;
                        } else if (exception === "abort") {
                            msg = "Ajax request aborted.";
                        } else {
                            msg = "Error:" + xhr.status + " " + xhr.responseText;
                        }
                        alert(msg);
                    }
                });
            });
        });
    });
</script>

}