@model AppUserListViewModel

@{
    string active = string.Empty;
    if (TempData["Active"] != null)
    {
        active = TempData["Active"].ToString();
    }
}

<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a asp-action="Index" asp-controller="Admin" class="brand-link">
        <img src="~/theme/img/AdminLTELogo.png" alt="logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">TR1907</span>
    </a>
    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/img/@Model.Picture" class="img-circle elevation-2" alt="@Model.Name">
            </div>
            <div class="info">
                <a href="#" class="d-block">@Model.Name @Model.SurName</a>
            </div>
        </div>
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="arama yap" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a asp-area="Admin" asp-action="Index" asp-controller="Home" class="nav-link @(active=="anasayfa"?"active":"")">
                        <i class="nav-icon fas fa-home"></i>
                        <p>
                            Anasayfa
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-area="Admin" asp-action="ListeGorev" asp-controller="Gorev" class="nav-link @(active=="gorev"?"active":"")">
                        <i class="nav-icon fas fa-clipboard-list"></i>
                        <p>
                            Görev İşlemleri
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-area="Admin" asp-action="ListeAciliyet" asp-controller="Aciliyet" class="nav-link @(active=="aciliyet"?"active":"")">
                        <i class="nav-icon fas fa-info-circle"></i>
                        <p>
                            Aciliyet İşlemleri
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-area="Admin" asp-action="ListeIsEmri" asp-controller="IsEmri" class="nav-link @(active=="isemri"?"active":"")">
                        <i class="nav-icon fas fa-clipboard-list"></i>
                        <p>
                            İş Emirleri
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-area="Admin" asp-action="ListeIsEmri" asp-controller="IsEmri" class="nav-link @(active=="a"?"active":"")">
                        <i class="nav-icon fas fa-chart-pie"></i>
                        <p>
                            Grafikler
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-area="Admin" asp-action="List" asp-controller="Bildirim" class="nav-link @(active=="bildirim"?"active":"")">
                        <i class="nav-icon fas fa-bell"></i>
                        <p>
                            Bildirimler
                        </p>
                        @if (@ViewBag.BildirimSayisi > 0)
                        {
                            <span class="badge badge-info right">
                                @ViewBag.BildirimSayisi
                            </span>
                        }
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-area="Admin" asp-action="Index" asp-controller="Profil" class="nav-link @(active=="profil"?"active":"")">
                        <i class="nav-icon fas fa-user"></i>
                        <p>
                            Profil
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-area="" asp-action="CikisYap" asp-controller="Home" class="nav-link @(active=="a"?"active":"")">
                        <i class="nav-icon fas fa-sign-out-alt"></i>
                        <p>
                            Çıkış Yap
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>